################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Video/FileContentIndex/c7795d43-57e0-4ba2-93ec-2882674e2592.vsidx
/.vs
